body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card{
  background-color: rgb(165, 251, 251);
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.card-ctr{
  padding: 2px 20px;
  margin-top: 20px;
  color: rgb(18, 33, 46);
}

input{
  width: 70%;
  padding: 10px 4px;
  font-size: 17px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 12px;
}

.submit-btn{
  background-color: #fff;
  color: rgb(238, 79, 39);
  border: none;
  padding: 10px 6px;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav p{
  background-color: #3ee0e3;
  color: #fff;
  cursor: default;
}

.logo{
  color: #3ee0e3;
  font-size: 30px;
}

.message{
  text-align: center;
  color: #3ee0e3;
  font-style: italic;
  max-width: 20px 0;
  font-weight: 600;
}

.error{
  color: red;
}

svg{
  cursor: pointer;
}

.intro,.intro h1{
  color: #3ee0e3;
  text-align: center;
}
